body
{
    background-image: url("R.jpg");
}
nav
{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

span
{
    color: #ea1538;
}

nav ul li
{
    display: inline-block;
    list-style-type: none;
    padding: 11px 20px;
}

li a
{
    text-decoration: none;
    color: white;
}

h2
{
    text-decoration: none;
    color: white;
}
 
li a:hover
{
    color: rgb(222, 99, 99);
    border-bottom: rgb(222, 99, 99) 2px solid;
}

li:hover
{
    transform: scale(1.3);
}

i
{
    padding-right: 10px;
}

.logo
{
    margin-top: 5px;
    margin-left: 5px;
}

i:hover , .logo:hover
{
    transform: scale(1.1);
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .card
{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.05),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.05);
    border-radius: 15px;
    margin: 30px;            
}

.container .card .box
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container .card:hover .box
{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    background: linear-gradient(45deg , #b95ce4 , #4f29cc);
}

.container .card .box .content
{
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2
{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 7em;
    color: rgba(0,0,0,0.05);
    transition: .5s;
    pointer-events: none;
}

.container .card:hover .box .content h2
{
    color: rgba(0,0,0,0.05);
}


.container .card .box .content h3
{
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: .5s;

}


.container .card:hover .box .content h3
{
    color: #fff;
}



.container .card .box .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.02);

}


.container .card:hover .box .content a
{
    background: #ff568f;
}
.logo-icon::before {
    content: "<i>fa-sharp fa-solid fa-dumbbell</i>"; /* Replace this with the Unicode value for your desired Font Awesome icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-size: 2em; /* Adjust the font size to fit your logo */
    color: #000000; /* Adjust the color to fit your design */
  }
